<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/style.css">
    <title>Testing API REST</title>
</head>
<body>
    <script src="public/js/apifront.js"></script>
    <button class="btn" onclick="getReq()">GET</button>  
    <button class="btn btn__yellow" onclick="postReq()">POST</button>  
    <button class="btn btn__blue" onclick="putReq()">PUT</button>  
    <button class="btn btn__red" onclick="deleteReq()">DELETE</button>  
    <pre id="consol"></pre>
    
</body>
</html>