<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/style.css">
    <title>Testing API REST</title>
</head>
<body>
<input id="input" type="text" placeholder="Ingresa nombre">
    <div class="grid-container">
        <button class="contenedor__btn btn__yellow" onclick='actStatus(5,"giro_izq")'>Giro Izquierda</button> 
        <button class="contenedor__btn" onclick='actStatus(0,"adelante")'>Adelante</button>
        <button class="contenedor__btn btn__yellow" onclick='actStatus(6,"giro_der")'>Giro Derecha</button> 
        <button class="contenedor__btn" onclick='actStatus(3,"vuelta_izq")'>Vuelta Izquierda</button> 
        <!-- Espacio vacío -->
        <button class="contenedor__btn btn__red" onclick='actStatus(2,"detenerse")'>Detenerse</button> 
        <button class="contenedor__btn" onclick='actStatus(4,"vuelta_der")'>Vuelta Derecha</button> 
        <button class="contenedor__btn btn__blue" onclick="getReq()">BD</button>  
        <button class="contenedor__btn" onclick='actStatus(1,"atras")'>Atráz</button>  
        <button class="contenedor__btn btn__blue" onclick='actStatus(7,"demo")'>Demo</button>

        <!-- Espacio vacío -->
      </div>
    <pre id="consol"></pre>
    <div class="cont__btnH">
    <button class="contenedor__btn btn__blue--history" onclick="window.location.href='/tableStatus'">Historial</button>
    </div>
    <script src="public/js/apifront.js"></script>
</body>
</html>